# Django secret key
SECRET_KEY=your_secret_key

# Debug mode (True/False)
DEBUG=True

# CORS settings
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Allowed hosts (comma-separated)
ALLOWED_HOSTS=localhost,127.0.0.1

# API version
API_VERSION=v1

# Celery settings
CELERY_BROKER_URL=redis://redis:6379
CELERY_RESULT_BACKEND=redis://redis:6379

# MongoDB main
MONGODB_NAME=mongo
MONGODB_HOST=mongodb://root:root@mongo:27017/mongo?authSource=admin
MONGODB_USERNAME=root
MONGODB_PASSWORD=root
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=root

# MongoDB test
MONGODB_TEST_NAME=mongo_test
MONGODB_TEST_HOST=mongodb://root:root@mongo_test:27017/mongo_test?authSource=admin
MONGODB_TEST_USERNAME=root
MONGODB_TEST_PASSWORD=root